@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
/*reset*/

body, ul{
	margin: 0px;
	padding: 0px;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	max-width: 100%;
	display: block;
}
.section-padding{
	padding: 70px 0;
}
.reset-padding{
	margin-right: 15px;
}

/*reset*/
/*global*/

.container{
	width: 70%;
	margin: auto;
}
.section-title h1{
	color: #363636;
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 0px;
	text-align: center;
}
.section-title p{
	color: #959595;
	padding-bottom: 40px;
	font-size: 13px;
	margin-top: 10px;
	text-align: center;
}

/*global*/
/*header*/

.header-top{
	background-color: #f8f8f8;
	overflow: hidden;
	padding: 5px 0 15px 0;
}
.header-top-left{
	overflow: hidden;
	float: left;
}
.header-top-left div{
	float: left;
	margin-right: 16px;
}
.header-top-left span i{
	color: #42b061;
	padding-right: 10px;
}
.header-top-left span{
	color: #9d9d9d;
	padding-right: 15px;
}
.header-top-right{
	overflow: hidden;
	float: right;
}
.header-top-right div{
	float: left;
}
.login-reg li{
	float: left;
}
.login-reg{
	margin-right: 20px;
}
.login-reg span,.login-reg a{
	margin-right: 5px;
}
.login-reg i{
	color: #42b061;
}
.login-reg a{
	color: #d9d9d9;
}
.login-reg li:hover a{
	color: #42b061;
}
.social-media{
	float: left;
}
.social-media li{
	float: left;
	margin-left: 8px;	
}
.social-media a{
	color: #d9d9d9;
}
.social-media li:hover a{
	color: #42b061;
}
.header-bottom{
	overflow: hidden;
	background-color: #ffffff;
}
.header-bottom .logo{
	float: left;
	padding-top: 10px;
}
.main-menu{
	float: right;
}
.main-menu li{
	float: left;
}
.main-menu li a{
	padding: 35px 20px 35px 0;
	display: block;
	color: #555555;
	font-size: 13px;
    font-weight: bold;
}
.main-menu li:hover a{
	color: #42b061;
}
.mobile-menu{
	display: none;
}
.mobile-menu li{
	display: inline-block;
	padding-top: 20px;
}
.mobile-menu li a{
	margin: 0 5px;
	color: #555555;
	font-size: 13px;
    font-weight: bold;
}
.search{
	float: right;
	padding: 35px 0px 0px 15px;
	color: #555555;
}

/*header*/
/*banner*/

#banner{
	background-image: url(../Images/banner01.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
	position: relative;
}
.overlay{
	background: rgba(0, 0, 0, 0.3);
	height: 100%;
	width: 100%;
}
.banner-text{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.banner-text h2{
	color: #42b061;
	font-size: 50px;
	margin: 0px;
	font-family: 'Kaushan Script', cursive;
}
.banner-text h1{
	font-size: 40px;
	color: #ffffff;
	margin: 0;
	font-weight: bold;
}
.banner-text p{
	color: #ffffff;
}
.button{
	overflow: hidden;
	padding-top: 10px;
}
.banner-button-1{
	float: left;
	padding: 13px;
	background-color: #42b061;
	border-radius: 5px;
	margin-right: 12px;
	font-weight: bold;
}
.banner-button-1 a{
	color: #ffffff;
	font-size: 12px;
}
.banner-button-2{
	float: left;
	padding: 13px;
	background-color: #ffffff;
	border-radius: 5px;
	font-weight: bold;
}
.banner-button-2 a{
	color: #42b061;
	font-size: 12px;
}

/*banner*/
/*about*/

#about{
	background-color: #f8f8f8;
}
.about-bottom{
	overflow: hidden;
}
.about-content h5{
	font-size: 15px;
	color: #42b061;
	margin: 0px;
}
.about-content p{
	font-size: 13px;
	color: #959595;
}
.about-button-1 a{
	padding: 12px 20px;
	background-color: #42b061;
	border-radius: 4px;
	color: #ffffff;
	font-size: 10px;
	font-weight: bold;
    display: inline-block;
}
.about-button-1{
	margin-top: 30px;
	font-family: 'Raleway', sans-serif;
}

/*about*/
/*courses*/

#courses{
	background-color: #f8f8f8;
}
.course-wraper{
	overflow: hidden;
}
.course-item-content{
	text-align: center;
	padding: 10px;
	border: 5px solid #ffffff;
	transition: all ease-in 0.2s;
}
.course-item-content a{
	color: black;
	transition: all ease-in 0.2s;
}
.course-item-content:hover i{
	color: #42b061;
}
.course-item-content:hover a{
	color: #42b061;
}
.course-item-content:hover{
	border-color: #42b061;
	background-color: #fff;
}
.course-item-content span i{
	font-size: 35px;
}

/*courses*/
/*gallery*/

#gallery{
	background-color: #ffffff;
}
.gallery-mid{
	overflow: hidden;
	text-align: center;
	padding-bottom: 40px;
}
.gallery-mid li{
	display: inline-block;
}
.gallery-mid li:hover a{
	color: #42b061;
	text-decoration-line: underline;
}
.gallery-mid li a{
	color: #707070;
	font-weight: 500;
	padding: 0 15px;
}
.gallery-bottom{
	overflow: hidden;
	padding-bottom: 40px;
}
.gallery-content-img{
	margin: 5px;
	position: relative;
}
.gallery-content-img::before{
	content: "";
	position: absolute;
	width: 0;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.5);
	transition: ease-in all 0.5s;
}
.gallery-content-img:hover::before{
	width: 100%;
}
.gallery-content-img:hover .img-hover-icon{
	opacity: 1;
	visibility: visible;
}
.img-hover-icon a:hover{
	background: #42b061;
}
.img-hover-icon i:hover{
	color: #ffffff;
}
.img-hover-icon{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%)translateY(-50%);
	width: 80px;
	opacity: 0;
	visibility: hidden;
}
.img-hover-icon a{
	border-radius: 50%;
	padding: 10px;
	background: #ffffff;
}
.img-hover-icon i{
	color: #66bf7f;
}
.gallery-content-button{
	text-align: center;
}
.gallery-content-button a{
	color: #ffffff;
	display: inline-block;
	padding: 10px 15px;	
	background-color: #363636;
    border-radius: 3px; 
    font-size: 14px; 
}

/*gallery*/
/*offer*/

#offer{
	background-color: #f8f8f8;
}
.offer-mid{
	overflow: hidden;
}
.offer-item-content span{
	float: left;
	padding-top: 50px;
	font-size: 30px;
}
.offer-item-content{
	margin-right: 12px;
}
.offer-item-content i{
	color: #191919;
	transition: all ease-in 0.2s;
	padding: 12px;
	border: 1px solid #ebebeb;
	border-radius: 50%;
	background-color: #ffffff;
}
.offer-item-content-text{
	padding: 20px 0px 0px 70px;
}
.offer-item-content-text h3{
	color: #191919;
	transition: all ease-in 0.2s;
	margin-bottom: 0px;
}
.offer-item-content-text p{
	font-size: 13px;
	margin-top: 5px;
}
.offer-item-content:hover i{
	color: #42b061;
}
 .offer-item-content:hover h3{
	color: #42b061;
}

/*offer*/
/*resource-person*/

#resource-person{
	background-color: #ffffff;
}
.resource-item{
	overflow: hidden;
}
.item-person{
	border-bottom: 1px solid;
	text-align: center;
}
.item-person img{
	width: 100%
}
.item-person h2{
	color: #363636;
	margin-bottom: 5px; 
}
.item-person p{
	margin-top: 0px;
	color: #7c7c7c;
}
.item-person:hover h2{
	color: #42b061;
}

/*resource-person*/
/*people-say*/

#people-say{
	background-image: url(../Images/image21.jpg);
	background-position: center;
	background-size: cover;
}
.people-say-article{
	overflow: hidden;
}
.article-item-content img{
	float: left;	
}
.article-header h3{
	margin-bottom: 5px;
	color: #333333;
}
.article-header h4{
	margin-top: 0px;
	color: #aaaaaa;
	border-bottom: 2px solid #42b061;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 0px;
}
.article-item-content-text{
	padding:0 50px 0 135px;
}
.article-item-content-text p{
	font-size: 11px;
	color: #aaaaaa;
}

/*people-say*/
/*blog*/

#blog{
	background-color: #ffffff;
}
.blog-bottom{
	overflow: hidden;
}
.blog-item-content{
	border: 1px solid #ffffff;
	background-color: #f8f8f8;
	padding: 5px;
}
.blog-item-content img{
	width: 100%;
}
.blog-item-text{
	padding: 0px 0px 20px 20px;
	color: #707070;
}
.blog-item-text h3{
	color: #181818;
	margin-bottom: 7px;
}
.blog-item-text span{
	padding: 0px 5px 0 0;
	color: #707070;
}
.blog-item-text i{
	padding-right: 5px;
}
.blog-item-text p{
	padding-bottom: 20px;
}
.blog-item-text a{
	padding: 5px 15px;
	color: #42b061;
	border: 2px solid #42b061;
	margin: 10px;
	font-weight: bold;
}
.blog-item-text:hover a{
	background-color: #42b061;
	color: #ffffff;
}

/*blog*/
/*client-logo*/

#client-logo{
	background-color: #f8f8f8;
}
.client-logo-bottom{
	overflow: hidden;
}

/*client-logo*/
/*contact*/

#contact{
	background-color: #ffffff;
}
.contact-mid{
	overflow: hidden;
}
.contact-mid-content{
	background-color: #f8f8f8;
	text-align: center;
	padding: 30px 0;
}
.contact-mid-content span{
	font-size: 30px;
   	border-radius: 50%;
    width: 50px;
    border: 1px solid #8b8b8b;
   	display: inline-block;
}
.contact-mid-content span i {
   line-height: 50px; 	
}
.contact-mid-content p{
	font-size: 11px;
	padding-top: 10px;
}
.contact-bottom{
	overflow: hidden;
}
.contact-bottom-content{
	padding-top: 30px;
}
.contact-bottom-content .form{
	width: 100%;
	background-color: #f8f8f8;
	padding: 15px;
	margin-bottom: 20px;
	border: none;
}
.contact-bottom-content textarea{
	resize: none;
}
.contact-bottom-content button{
	width: 100%;
	background-color: #42b061;
    border: none;
    border-radius: 4px;
    padding: 12px;
    color: #ffffff;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
}

/*contact*/
/*footer*/

footer{
	background-color: #f8f8f8;
	padding-top: 50px;
}
.footer-top{
	overflow: hidden;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 50px;
}
.footer-content{
	overflow: hidden;
}
.footer-content .p1{
	font-size: 11px;
	color: #707070;
	margin: 15px 0;
}
.footer-content p{
	font-size: 13px;
	color: #707070;
	margin: 0px;
}
.footer-content h1, .footer-content-mid h1{
	font-size: 24px;
	color: #42b061;
}
.footer-content .footer-img{
	border-bottom: 1px solid #e5e5e5;
}
.footer-icon-content h2{
	font-size: 13px;
	float: left;
	padding-right: 10px;
	color: #999999;
	margin-top: 10px;
}
.footer-icon-content a{
	float: left;
	margin: 10px 7px 10px 0px;
	color: #363636;
}
.footer-icon-content li:hover a{
	color: #42b061;
}
.footer-content input{
	margin-top: 15px;
	padding: 8px;
	border: 1px solid #e7e7e7;
}
.footer-content button{
	padding: 9px;
	background-color: #42b061;
	border-radius: 1px;
	border:0px; 
	color: #daedde;
	font-weight: bold;
	margin-left: -4px;
	cursor: pointer;
}
.footer-content-mid{
	overflow: hidden;
}
.footer-blog-content img{
	width: 30%;
	display: inline-block;
	float: left;
	margin: 0 20px 30px 0;
}
.footer-blog-content .p2{
	color: #999999;
	margin-top: 10px;
}
.reset-footer-right-margin{
	margin: -2px;
}
.footer-top-right-img{
	overflow: hidden;
}
.footer-top-right-img .footer-img-item{
	width: 33.33%;
	float: left;
}
.footer-top-right-img .footer-img-content{
	padding: 2px;
}
.footer-bottom p{
	text-align: center;
	padding: 25px;
	color: #333333;
	font-weight: bold;
}
.footer-bottom a{
	color: #333333;
}
.footer-bottom p:hover a{
	color: #42b061;
}


/*footer*/